.DS_Store
app/.DS_Store
.idea
target
project/target
project/project/target
CRM.iml
logs
.scannerwork
conf/application.dch.conf
conf/application.conf
conf/evolutions/crm/1.sql
conf/evolutions/crm/2.sql
conf/evolutions/crm/3.sql
conf/evolutions/crm/4.sql
conf/evolutions/crm/5.sql
conf/evolutions/crm/6.sql
conf/evolutions/crm/7.sql
